
.imagestyle{
    height: 450px;
    width: 450ps;
}
.skill{
    font-family: 'Satisfy', cursive;
    color:blueviolet;
    font-size: 25PX;

}
.name{   
    color:rgb(67, 23, 107);
    font-size: 50px;
    text-shadow: 1px 5px #00eeff;
}

.b{
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
.iconstyle{
    height: 100px;
    width: 100px;
    border-radius: 2px;
}
.prostyle{
    height: 150px;
    background-color: #4facfe;
    
}
.project:hover{
    -webkit-box-shadow:-1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow:-1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 40px -12px rgba(0, 0, 0,0.75)
    

}
.logo{
    height: 50px;
    width:50px;
}
.profont{
    font-size: 12px;

}
.social{
    list-style-type: none;
    float: right;
    color: #fff;
    

	
}
.bgimg{
    background-image: url("https://images.unsplash.com/photo-1560878956-86337fa891a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60") ;
    background-size: 100% 100%;
    background-attachment: fixed;
    height:100%;

 
    
}

@media (min-width: 576px) {
    .imagestyle{
        height: 450px;
        width: 450px;
    }
    .skill{
        font-family: 'Satisfy', cursive;
        color:blueviolet;
        font-size: 25PX;
    
    }
    .name{   
        color:rgb(67, 23, 107);
        font-size: 50px;
        text-shadow: 1px 5px #00eeff;
    }
    .iconstyle{
        height: 100px;
        width: 100px;
        border-radius: 2px;
    }
    .prostyle{
        height: 150px;
        background-color: #4facfe;
        
    }
    .logo{
    height: 50px;
    width:50px;
}
.profont{
    font-size: 12px;

}

}
