body{
  background-color: rgb(12, 3, 3);
}


.background{
  background-color: black;
}
.divfont{
  width: 30%
}
img{
  margin-left: 70px;
  height:230px;
  width: 230px;
  border-radius: 50%
  
}
.textwhite{
  color: white;
}
.skillheader{
  text-align: center;
  font-style: italic;
  color :white;
  background-color: rgb(73, 107, 122);
  margin-bottom: 80px;
  margin-top: 50px;
}
.skillimage{
  height:100px;
  width: 155px;
  background-color:rgb(146, 100, 131);
  border-radius: 40%
}
.skillStyle{
  display: block;
  float:left;
  height:200px;
  width: 180px;
 }
@media only screen and (min-width:1198px){
  .divfont{
      width: 30%
  }

}